{% extends 'superuser_main.html'%}

{% block content%}
<style>
    .card-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .button {
        display: inline-block;
        margin:auto;
        margin-right: 0px;
    }
    .title {
        display: inline-block;
        margin: auto;
        margin-left: 0px;
    }
</style>
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
                <div class="card">
                    <div class="card-header card-container">
                        <div class="title">
                            <h3 class="card-title">Sizes</h3>
                        </div>
                      <div class="button">
                        <button type="button" class="btn btn-primary">
                            <a href="{% url 'add-size' %}" style="text-decoration: none; color: inherit;">ADD</a>
                        </button>
                      </div>
                      
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="example1" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Description</th>
                          <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for size in sizes %}
                        <tr>
                          <td>{{size.name}}</td>
                          <td>{{size.description}}</td>
                          <td>
                            <form action="POST" style="width: 30px; display: inline;">
                              {% csrf_token %}
                              <a href="">
                              {% if size.active  %}
                                <i id="activation" class="nav-icon fas activation fa-toggle-on" name="active" data-value="1" data-url="{% url 'update-activation-size' size.id %}"></i>
                              {% else %}
                              <i id="activation" class="nav-icon fas activation fa-toggle-off" name="active" data-value="0" data-url="{% url 'update-activation-size' size.id %}"></i>
                              {% endif %}
                              </a>
                            </form>
                            &nbsp;
                            <a href="{% url 'edit-size' size.id %}">
                              <i class="nav-icon fas fa-edit"></i>
                            </a>
                            &nbsp;
                            <a class="deleteButton" href="">
                              <i class="nav-icon fas fa-trash deleteButton" data-delete-url="{% url 'delete-size' size.id %}" style="color: red;"></i>
                            </a>
                          </td>
                        </tr>
                        {% endfor%}
                        </tbody>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
            </div>
        </div>
        
    </div>
</div>



{% endblock content%}