{% extends 'main.html'%}

{% block content%}
<div class="wrapper">
    <div class="content-wrapper">
        <div class="content-header">
            <div class="container-fluid">
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Quick Example</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form method="POST" action="">
                  {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="name">Discount Name</label>
                      {{form.name}}
                    </div>
                    <div class="form-group">
                      <label for="description">Discount Description</label>
                      {{form.description}}
                    </div>
                    <div class="form-group">
                      <label for="discount">Discount</label>
                      {{form.discount_percent}}
                    </div>
                    <div class="form-group">
                      <label for="active">Activation</label>
                      {{form.active }}
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="button" class="btn btn-danger">
                      <a href="{% url 'discounts' %}" style="text-decoration: none; color: inherit;">CANCEL</a>
                    </button>
                  </div>
                </form>
              </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock content%}